/** {
  box-sizing: border-box;
}
*/

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  float: left;
  width: 80%;
  background: white;
}


/* Style the submit button */
form.example button {
  /*float: left;*/
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid #ddd;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  font-family: Lato;
}


body {
  font-family: sans-serif;
  background: #DADADA;
}

* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
  padding: 30px;
}
  
.column {
  float: left;
  width: 70%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.columnright {
  float: left;
  width: 30%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px;
  background: white;
}
th, td {
  text-align: left;
  padding: 16px;
  border: 1px solid #ddd;
  border-right: none;
  border-left : none;
}

/*Кнопки*/
.bl-label {
  width: 30px; 
  height: 30px;
  line-height: 27px;
  padding: 0px;
  background: #DADADA;;
  border-radius: 8px;
  border-color: white;
  font-family: Arial; 
}
.bl-plus {
  width: 40px; 
  height: 40px;
  line-height:40px;
  padding: 0px;
  background: #32cd32;
  border-radius: 50%;
  border-color: white;
  color: white;
}
.bl-minus {
width: 40px; 
height: 40px;
line-height:40px;
padding: 0px;
background: #DC143C;
border-radius: 50%;
border-color: white;
color: white;
}
.bl-buttons{
  width: 100px; 
  height: 30px;
  line-height: 30px;
  padding: 0px;
  background: solid #ddd;
  border-radius: 4px;
  margin: 4px 2px;
  border-color: white;
  font-family: Courier;
}
.bl-button{
  width: 30px; 
  height: 28px;
  line-height: 20px;
  padding: 0px;
  background: #DC143C;
  border-radius: 8px;
  border-color: white;
  font-family: Arial;
  color: white;
}

/*.parent {
    margin: 20%; /* Отступы вокруг элемента 
    background: #fd0; /* Цвет фона 
    padding: 10px; /* Поля вокруг текста 
   } */

.d1 {
padding: 7px;
background: #DADADA;
border-radius: 8px;
}
.d2 {
width: 20px; 
height: 20px;
text-align: center;
line-height:20px;
background: orange;
border-radius: 50%;
display: table-cell;
}
